@charset "utf-8";html{color:#000;font-size:12px}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:.28rem;}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
img{width: 100%;height: 100%;}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {height: 100%;}
pre{font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif, Arial;}
body {font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif, Arial;color: #222;font-size: .28em;line-height: .3rem;background-color:#121212;overflow-x: hidden;}
*{
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -moz-user-select:none;/*火狐*/
  user-select:none;
}
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
  -moz-user-select:auto;/*火狐*/
  user-select:auto;
  margin: 0px;
  padding: 0px;
  outline: none;
}
a {color: #25a4bb;text-decoration: none;}
.left{float: left;}
.right{float: right;}
/*清楚浮动*/
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

/* 父元素-横向排列（主轴） */
.flex-h {
  display: flex; /* OLD - Android 4.4- */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ *//* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* 父元素-水平两端对齐（主轴是横向才生效） */

.flex-hsb {
  /* 09版 */
  -webkit-box-pack: space-between;
  /* 12版 */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* 其它取值如下：
    align-items     主轴原点方向对齐
    flex-end        主轴延伸方向对齐
    space-between   等间距排列，首尾不留白
    space-around    等间距排列，首尾留白
   */
}

/* 父元素-水平居中（主轴是横向才生效） */

.flex-hc {
  /* 09版 */
  -webkit-box-pack: center;
  /* 12版 */
  -webkit-justify-content: center;
  justify-content: center;
  /* 其它取值如下：
		align-items	 主轴原点方向对齐
		flex-end		主轴延伸方向对齐
		space-between   等间距排列，首尾不留白
		space-around	等间距排列，首尾留白
	 */
}

/* 父元素-纵向排列（主轴） */

.flex-v {
  display: flex; /* OLD - Android 4.4- */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ *//* 09版 */
  -webkit-box-orient: vertical;
  /* 12版 */
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* 父元素-竖直居中（主轴是横向才生效） */

.flex-vc {
  /* 09版 */
  -webkit-box-align: center;
  /* 12版 */
  -webkit-align-items: center;
  align-items: center;
}

/* 滚动条
-------------------------- */
/* 滚动条凹槽的颜色，还可以设置边框属性 */
//::-webkit-scrollbar-track {
  //background-color: #fff;

  /* 滚动条凹槽悬浮 */
  //&:hover {
    //background-color: #fff;
  //}
//}

/* 滚动条的宽度、高度，对应竖滚动条、横滚动条 */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
  border-radius: 2px;

  /* 滚动条悬浮 */
  &:hover {
    background-color: #d9d9d9;
  }
}